*,
*::after,
*::before {
box-sizing: border-box;
margin: 0;
padding: 0;
}
body {
display: grid;
place-items: center;
font-family: "League Spartan", system-ui, sans-serif;
font-size: 1.1rem;
line-height: 1.2;
background-color: #022640;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2308053b'/%3E%3Cstop offset='1' stop-color='%2308053b' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%236d2776'/%3E%3Cstop offset='1' stop-color='%236d2776' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%236d2e4c'/%3E%3Cstop offset='1' stop-color='%236d2e4c' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23022640'/%3E%3Cstop offset='1' stop-color='%23022640' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23270836'/%3E%3Cstop offset='1' stop-color='%23270836' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23847973'/%3E%3Cstop offset='1' stop-color='%23847973' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
color: #ddd;
}

ul {
list-style: none;
}

.main {
max-width: 75rem;
padding: 3em 1.5em;
}
.ser_prs {
position: relative;
}

.ser_prs__inner {
display: flex;
flex-wrap: wrap;
gap: 2.5em;
}

.ser_pr {
--flow-space: 0.5em;
--hsl: var(--hue), var(--saturation), var(--lightness);
flex: 1 1 14rem;
padding: 1.5em 2em;
display: grid;
grid-template-rows: auto auto auto 1fr;
align-items: start;
gap: 1.25em;
color: #eceff1;
background-color: #2b2b2b4c;
border: 1px solid #eceff133;
border-radius: 15px;
}

.ser_pr:nth-child(1) {
--hue: 165;
--saturation: 82.26%;
--lightness: 51.37%;
}

.ser_pr:nth-child(2) {
--hue: 291.34;
--saturation: 95.9%;
--lightness: 61.76%;
}

.ser_pr:nth-child(3) {
--hue: 338.69;
--saturation: 100%;
--lightness: 48.04%;
}

.ser_pr__bullets {
line-height: 1.4;
}

.ser_pr__bullets li::before {
display: inline-block;
content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='16' title='check' fill='%23dddddd'%3E%3Cpath d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z' /%3E%3C/svg%3E");
transform: translatey(0.25ch);
margin-right: 1ch;
}

.ser_pr__heading {
font-size: 1.05em;
font-weight: 600;
}
.flow > * + * {
margin-top: var(--flow-space, 1.25em);
}

.cta {
display: block;
align-self: end;
margin: 1em 0 0.5em 0;
text-align: center;
text-decoration: none;
color: #fff;
background-color: #0d0d0d;
padding: 0.7em;
border-radius: 10px;
font-size: 1rem;
font-weight: 600;
}

.overlay {
position: absolute;
inset: 0;
pointer-events: none;
user-select: none;
opacity: var(--opacity, 0);
-webkit-mask: radial-gradient(
25rem 25rem at var(--x) var(--y),
#000 1%,
transparent 50%
);
mask: radial-gradient(
25rem 25rem at var(--x) var(--y),
#000 1%,
transparent 50%
);
transition: 400ms mask ease;
will-change: mask;
}

.overlay .ser_pr {
background-color: hsla(var(--hsl), 0.15);
box-shadow: 0 0 0 1px inset hsl(var(--hsl));
}

.overlay .cta {
display: block;
grid-row: -1;
width: 100%;
background-color: hsl(var(--hsl));
box-shadow: 0 0 0 1px hsl(var(--hsl));
}