<!DOCTYPE html>
   <html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/static/new.css">

      <title>About us</title>
   </head>
   <body>
   <div class="text">   <h1>Textovert</h1></div>
      <div class="container">
         <div class="card__container">
            <article class="card__article">
               <img src="/static/img.jpg" alt="image" class="card__img">

               <div class="card__data">
                  <span class="card__description">Rituraj Singh, Bihar</span>
                  <h2 class="card__title">Hello there! I am Rituraj Singh, the dedicated Frontend and backend developer behind Textovert, I work diligently to ensure that our platform runs smoothly.</h2>
                  <a href="https://www.instagram.com/_its_rrj/" class="card__button">Connect on</a>
               </div>
            </article>

            <article class="card__article">
               <div class="img2">
               <img src="/static/WhatsApp Image 2023-10-09 at 13.11.09_3c07eece.jpg" alt="image" class="card__img">
            </div>
               <div class="card__data">
                  <span class="card__description">Yash Jain,Rajasthan</span>
                  <h2 class="card__title">Hello there! I am Yash Jain,the dedicated frontend developer of the Textovert to ensure that everything that you saw looks pleasant.</h2>
                  <a href="https://www.instagram.com/y._.jain623/" class="card__button">Connect on</a>
               </div>
            </article>
         </div>
      </div>
   </body>
</html>